.dialog-content {
    display: flex;
    flex-direction: row;
}

.unit-info {
    width: 50%;
    margin-right: 20px;
}

.img-contain {
    width: 100%;
    margin-bottom: 10px;
}

.unit-img {
    width: 200%;
    height: 100px; /* Reduced image height */
    object-fit: cover;
    border-radius: 8px;
}

.unit-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.unit-badge{
    background-color: #F5F7FA;
    color: #98A0AC;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 8px;
}

.unit-subtitle {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
}

.unit-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #4E5A6B;
}

.unit-details span {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.view-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-link p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit-pricing-details {
    width: 50%;
    padding: 20px;
    background-color: #F8F9FB;
    border-radius: 16px 16px 16px 16px;
}

.pricing-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.pricing-list {
    display: flex;
    flex-direction: column;
}

.pricing-names{
    overflow-y: auto;
}

.unit-pricing-item {
    display: flex;
    justify-content: space-between;
    padding: 4% 0 4% 0;
}

.pricing-total {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 48%;
    background-color: #E4E8EE;
    color: #091B29;
    border-radius: 6px;
    padding: 3%;
}
