.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .amenitiesPrice {
    color: #e57373; /* Light red color */
    font-weight: bold;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
  }
  
  .saveButton {
    margin-top: 20px;
    background-color: #3f51b5; /* Button color (blue) */
    color: #fff;
  }
  
  .saveButton:hover {
    background-color: #303f9f;
  }
  