.pricing-item {
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 80px; Adjust this for height */
    padding: 14px; /* Adjust this for padding */
}

.item-id {
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
